# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Coverage directory used by tools like istanbul
/coverage

# Dependency directories
node_modules

# Compiled sanity studio
/dist
